[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.list {
    padding-bottom: 85px !important;
}

input[type='text'],
.list input[type='number'] {
    padding: 0 10px !important;
}

.has-header {
    background-image: url('../bg_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    background-color: transparent !important;
    color: #000 !important;
    border: none !important;
}

.item-input {
    padding-left: 0 !important;
}

.item h2,
.item h1 {
    color: #000 !important;
    font-size: 16px !important;
    white-space: normal !important;
}

.item-stacked-label .icon,
.item-stacked-label .input-label {
    color: #000 !important;
}

.card {
    background-color: transparent !important;
    color: #000 !important;
}

a.button {
    color: #000 !important;
}

select {
    padding: 10px 20px;
    width: 84%;
    border: none;
    border-radius: 10px;
    /* margin-bottom: 0px; */
    /* margin-top: 20px; */
    margin: 20px auto;
    display: block;
}

.popup-container .popup {
    background-color: rgba(255, 255, 255, 1) !important;
}

#floating-menu {
    bottom: 35px !important;
}

#floating-menu .icon.menu-icon {
    background-color: #11c1f3 !important;
}

#floating-menu.active ion-floating-item >li {
    background-color: #11c1f3 !important;
}

.item h2.active,.status-active {
    background: green;
    padding: 5px;
    text-align: center;
    color: #fff !important;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    width: 100px;
}

.item h2.inactive,.status-inactive {
    background: red;
    padding: 5px;
    text-align: center;
    color: #fff !important;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    width: 100px;
}

.item h2.active,.item h2.inactive{
    width: 100%;
}