<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.techynaf.medicalscheduler" version="1.0.0">
    <name>Medical Scheduler</name>
    <description>
        This application will help doctors to keep their duty records and also calculate their earnings through duty. A dynamic search and calculate feature is added with this application. Doctors can search their duty schedule by month, year and also by the place or their duty. It will automatically calculate the earnings according to the search criteria and will show the exact result as expected. Another huge advantage of the application is doctors duty entry will automatically be scheduled. So doctors will get a notification of their duty with details in their notification bar at 12AM of the exact day of duty. It is very lightweight and easy to use. Interface is very simple but attractive. Hope doctors will get this app very much friendly to use.
    </description>
    <author href="http://=naieem.me" email="naieem.com">
        Naieem
    </author>
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <!-- Define a specific version of PhoneGap to build into your app. -->
    <!-- <preference name="phonegap-version"       value="3.5.0" /> -->
    <!-- Plugins -->
    <!-- Core plugins -->
    <!-- <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" /> -->
    <plugin name="cordova-plugin-app-event" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-x-toast" source="npm" />
    <plugin name="de.appplant.cordova.plugin.local-notification" />
    <plugin name="cordova-plugin-keyboard" />
    <!-- <plugin name="cordova-plugin-vibration" /> -->
    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
        <plugin name="com.phonegap.plugins.barcodescanner" />
    -->
    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <!-- Define app splash screen for each platform. -->
    <gap:splash src="banner.jpg" />
    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>100</string>
    </gap:config-file>
    <!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->
    <access origin="*" />
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
